.intro-message {
	background: url (title.png) center center;
	text-align: center;
	font: Helvetica, sans-serif;
	font-variant:small-caps;
	padding-top: 2%;
	padding-bottom: 4%;
	font-size: 40px;
	font-weight: 800;
	color:#fff;
}
body {
	background: url(intro-bg.jpg) no-repeat center center;
}
.navbar-inverse{
	background:rgba(0,0,0,0.6);
	font:20px,Helvetica, sans-serif; 
	color:#f9fb05;
	font-variant: small-caps;
	font-weight: 400;
}
.nav{
	font:18px, #fff;
}

.my-list {
	padding-top: 8%;
	padding-bottom: 2%;
	font-size: 18px;
	color: #fff;
	font: Helvetica, sans-serif;
	font-variant:small-caps;
	text-align: left;
}
.signup-form {
	text-align: center;
	color: #000;
}